{% load static %}

<html>
  <head>
    <title>Redirect to APPC</title>
    <link rel="stylesheet" type="text/css" href="{% static 'appc-redirect.css' %}">
  </head>
  <body>
    <form method="post" id="form" action="http://www.appc.org.uk/register/profile/">
      <input type="hidden" id="companyid" name="companyid" value="">
      <button id="submit">Redirect to APPC register</button>
    </form>
    <script type="text/javascript" src="{% static 'appc-redirect.js' %}"></script>
  </body>
</html>
