{% extends "single.html" %}

{% block content %}
<div class="col-md-1"></div>
<div class="col-md-10">
    <div id="government-container">
        {% if person.image %}
            <img class="pull-right" src="/media/persons/{{ person.id }}.png" alt="{{ person.name }}" width="150" />
        {% endif %}
        <h3><b>{{ person.name }}</b></h3>
        <div class="row">
            <ul>
                {% for membership in memberships %}
                    <li>
                        <strong>
                        {% if membership.role %}
                            {{ membership.role }}
                        {% else %}
                            Member
                        {% endif %}
                        </strong>

                    {% if membership.on_behalf_of %}
                        {{ membership.on_behalf_of }}
                    {% else %}
                        {{ membership.organization }}
                    {% endif %}
                    ({{ membership.start_datetime }}–{{ membership.end_datetime }})</li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            {% for link in person.links.all %}
                <a target="_blank" href="{{ link.url }}">{{ link.note }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
