{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
<h2>{{ self.title }}</h2>
{% if self.quote %}
<div class="row">
    {# TODO: Fix this because it's horrible #}
    <div class="col-md-7">
{% endif %}

{{ self.body|richtext }}

{% if self.quote %}
    </div>
    {% include 'cms/snippets/quote.html' %}
</div>
{% endif %}

{% if self.analysis or self.profile %}
    {% if self.analysis %}
        {% include 'cms/snippets/analysis.html' %}
    {% endif %}

    {% if self.profile %}
        {% include 'cms/snippets/profile.html' %}
    {% endif %}
{% endif %}
{% endblock %}
